In [4]:
import pandas as pd

weather_df = pd.read_csv('CasusEDA/csv/weather_csv')
flights_df = pd.read_csv('CasusEDA/csv/flights_csv')

weather_selected = weather_df[['origin', 'temp', 'dewp', 'humid', 'wind_dir', 'wind_speed', 'wind_gust', 'precip', 'pressure', 'visib', 'time_hour']]
flights_selected = flights_df[['origin', 'dest', 'dep_time', 'arr_time', 'sched_dep_time', 'sched_arr_time', 'dep_delay', 'arr_delay', 'time_hour']]

merged_data = pd.merge(weather_selected, flights_selected, on=['origin', 'time_hour'], how='inner')

merged_data.to_csv('InformationQuestion1_csv', index=False)

In [10]:
import pandas as pd

flights_df = pd.read_csv('CasusEDA/csv/flights_csv')
airports_df = pd.read_csv('CasusEDA/csv/airports_csv')
airlines_df = pd.read_csv('CasusEDA/csv/airlines_csv')

flights_selected = flights_df[['time_hour', 'origin','dest','carrier','dep_time','arr_time','sched_dep_time','sched_arr_time','dep_delay','arr_delay']]
airports_selected = airports_df[['faa','name']]
airlines_selected = airlines_df[['carrier', 'name']]
airlines_selected = airlines_selected.rename(columns={'name': 'airline_name'})

merged_df = flights_selected.merge(airports_selected, how='left', left_on='origin', right_on='faa')
merged_df = merged_df.rename(columns={'name': 'airport_name_origin'}) 
merged_df = merged_df.merge(airports_selected, how='left', left_on='dest', right_on='faa')
merged_df = merged_df.rename(columns={'name': 'airport_name_dest'})
merged_df = merged_df.merge(airlines_selected, how='left', on='carrier')

merged_df.drop(['faa_x', 'faa_y'], axis=1, inplace=True)
print(merged_df)
merged_df.to_csv("InformationQuestion2_csv", index=False)

                  time_hour origin dest carrier  dep_time  arr_time  \
0       2013-01-01 05:00:00    EWR  IAH      UA     517.0     830.0
1       2013-01-01 05:00:00    LGA  IAH      UA     533.0     850.0
2       2013-01-01 05:00:00    JFK  MIA      AA     542.0     923.0
3       2013-01-01 05:00:00    JFK  BQN      B6     544.0    1004.0
4       2013-01-01 06:00:00    LGA  ATL      DL     554.0     812.0
...                     ...    ...  ...     ...       ...       ...
336771  2013-09-30 14:00:00    JFK  DCA      9E       NaN       NaN
336772  2013-09-30 22:00:00    LGA  SYR      9E       NaN       NaN
336773  2013-09-30 12:00:00    LGA  BNA      MQ       NaN       NaN
336774  2013-09-30 11:00:00    LGA  CLE      MQ       NaN       NaN
336775  2013-09-30 08:00:00    LGA  RDU      MQ       NaN       NaN

        sched_dep_time  sched_arr_time  dep_delay  arr_delay  \
0                  515             819        2.0       11.0
1                  529             830        4.0       20.0
2                  540             850        2.0       33.0
3                  545            1022       -1.0      -18.0
4                  600             837       -6.0      -25.0
...                ...             ...        ...        ...
336771            1455            1634        NaN        NaN
336772            2200            2312        NaN        NaN
336773            1210            1330        NaN        NaN
336774            1159            1344        NaN        NaN
336775             840            1020        NaN        NaN

        airport_name_origin                airport_name_dest  \
0       Newark Liberty Intl     George Bush Intercontinental
1                La Guardia     George Bush Intercontinental
2       John F Kennedy Intl                       Miami Intl
3       John F Kennedy Intl                              NaN
4                La Guardia  Hartsfield Jackson Atlanta Intl
...                     ...                              ...
336771  John F Kennedy Intl    Ronald Reagan Washington Natl
336772           La Guardia            Syracuse Hancock Intl
336773           La Guardia                   Nashville Intl
336774           La Guardia           Cleveland Hopkins Intl
336775           La Guardia              Raleigh Durham Intl

                  airline_name
0        United Air Lines Inc.
1        United Air Lines Inc.
2       American Airlines Inc.
3              JetBlue Airways
4         Delta Air Lines Inc.
...                        ...
336771       Endeavor Air Inc.
336772       Endeavor Air Inc.
336773               Envoy Air
336774               Envoy Air
336775               Envoy Air

[336776 rows x 13 columns]

In [8]:
import pandas as pd

flights_df = pd.read_csv('CasusEDA/csv/flights_csv')
planes_df = pd.read_csv('CasusEDA/csv/planes_csv')

flights_selected = flights_df[['tailnum','distance','air_time']]
planes_selected = planes_df[['tailnum','type','manufacturer','model','engines','seats','engine','speed']]

merged_df = flights_selected.merge(planes_selected, how='inner', on='tailnum')

merged_df.to_csv('InformationQuestion3_csv',index=False)

In [16]:
import pandas as pd

airlines = pd.read_csv('CasusEDA/csv/airlines_csv')
flights = pd.read_csv('CasusEDA/csv/flights_csv')

df = pd.merge(airlines,flights,on='carrier')
df1 = df.where(flights['carrier'] =='AA')

print(df)

       carrier                name  year  month  day  dep_time  \
0           9E   Endeavor Air Inc.  2013      1    1     810.0
1           9E   Endeavor Air Inc.  2013      1    1    1451.0
2           9E   Endeavor Air Inc.  2013      1    1    1452.0
3           9E   Endeavor Air Inc.  2013      1    1    1454.0
4           9E   Endeavor Air Inc.  2013      1    1    1507.0
...        ...                 ...   ...    ...  ...       ...
336771      YV  Mesa Airlines Inc.  2013      9   29    1650.0
336772      YV  Mesa Airlines Inc.  2013      9   29    1801.0
336773      YV  Mesa Airlines Inc.  2013      9   30    1643.0
336774      YV  Mesa Airlines Inc.  2013      9   30    1731.0
336775      YV  Mesa Airlines Inc.  2013      9   30    2000.0

        sched_dep_time  dep_delay  arr_time  sched_arr_time  arr_delay  \
0                  810        0.0    1048.0            1037       11.0
1                 1500       -9.0    1634.0            1636       -2.0
2                 1455       -3.0    1637.0            1639       -2.0
3                 1500       -6.0    1635.0            1636       -1.0
4                 1515       -8.0    1651.0            1656       -5.0
...                ...        ...       ...             ...        ...
336771            1629       21.0    1810.0            1750       20.0
336772            1735       26.0    1957.0            1946       11.0
336773            1629       14.0    1800.0            1750       10.0
336774            1735       -4.0    1921.0            1946      -25.0
336775            2000        0.0    2207.0            2211       -4.0

        flight tailnum origin dest  air_time  distance  hour  minute  \
0         3538  N915XJ    JFK  MSP     189.0      1029     8      10
1         4105  N8444F    JFK  IAD      57.0       228    15       0
2         3295  N920XJ    JFK  BUF      68.0       301    14      55
3         3843  N8409N    JFK  SYR      57.0       209    15       0
4         3792  N8631E    JFK  ROC      66.0       264    15      15
...        ...     ...    ...  ...       ...       ...   ...     ...
336771    3771  N518LR    LGA  IAD      41.0       229    16      29
336772    2751  N932LR    LGA  CLT      79.0       544    17      35
336773    3771  N510MJ    LGA  IAD      42.0       229    16      29
336774    2751  N905FJ    LGA  CLT      78.0       544    17      35
336775    2677  N924FJ    LGA  CLT      75.0       544    20       0

                  time_hour
0       2013-01-01 08:00:00
1       2013-01-01 15:00:00
2       2013-01-01 14:00:00
3       2013-01-01 15:00:00
4       2013-01-01 15:00:00
...                     ...
336771  2013-09-29 16:00:00
336772  2013-09-29 17:00:00
336773  2013-09-30 16:00:00
336774  2013-09-30 17:00:00
336775  2013-09-30 20:00:00

[336776 rows x 20 columns]

In [1]:
import pandas as pd

weather = pd.read_csv('CasusEDA/csv/weather_csv')

weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01 01:00:00
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01 02:00:00
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01 03:00:00
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01 04:00:00
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30 14:00:00
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30 15:00:00
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30 16:00:00
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30 17:00:00
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30 18:00:00

In [2]:
import pandas as pd

airports = pd.read_csv('CasusEDA/csv/airports_csv')

airports

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

In [3]:
import pandas as pd

flights = pd.read_csv('CasusEDA/csv/flights_csv')

flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [4]:
import pandas as pd

planes = pd.read_csv('CasusEDA/csv/planes_csv')

planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

In [5]:
import pandas as pd

airlines = pd.read_csv('CasusEDA/csv/airlines_csv')

airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.